In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url)[0]

# IN THE TABLE, THERE AREN'T REPEATED POSTAL CODES. ALSO, IF THE NEIGHBORHOOD IS NOT ASSIGNED THEN THE BOROUGH IS ALSO NOT ASSIGNED SO WE JUST HAVE TO REMOVE THOSE BOROUGHS FROM THE DATAFRAME

In [3]:
df=df.loc[df["Borough"]!="Not assigned", ["Postal Code", "Borough","Neighborhood"]].reset_index()

In [4]:
df.head(10)

,index,Postal Code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,8,M9A,Etobicoke,Islington Avenue
6,9,M1B,Scarborough,"Malvern, Rouge"
7,11,M3B,North York,Don Mills
8,12,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,13,M5B,Downtown Toronto,"Garden District, Ryerson"

In [5]:
df.shape

(103, 4)

In [6]:
!wget -q -O 'Geospatial_Coordinates.csv' http://cocl.us/Geospatial_data

In [7]:
GC=pd.read_csv("Geospatial_Coordinates.csv")

### WE SORT BOTH COLUMNS BY POSTAL CODE IN ORDER TO ATTACH THE LATITUDE AND LONGITUDE EASILY TO THE PREVIOUS DATAFRAME

In [8]:
GC=GC.sort_values(by=["Postal Code"])

In [9]:
GC.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
df=df.sort_values(by=["Postal Code"])

In [11]:
df.head()

    index Postal Code      Borough                            Neighborhood
6       9         M1B  Scarborough                          Malvern, Rouge
12     18         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
18     27         M1E  Scarborough       Guildwood, Morningside, West Hill
22     36         M1G  Scarborough                                  Woburn
26     45         M1H  Scarborough                               Cedarbrae

In [12]:
df[["Latitude"]]=GC[["Latitude"]]
df[["Longitude"]]=GC[["Longitude"]]

In [13]:
df.head()

,index,Postal Code,Borough,Neighborhood,Latitude,Longitude
6,9,M1B,Scarborough,"Malvern, Rouge",43.727929,-79.262029
12,18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.794200,-79.262029
18,27,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.778517,-79.346556
22,36,M1G,Scarborough,Woburn,43.770120,-79.408493
26,45,M1H,Scarborough,Cedarbrae,43.745906,-79.352188